html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(245, 245, 245);
  overflow: auto;
}

.container {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

/* 계약서 이미지 */
.contract {
  position: relative;
  width: 100%;
}

/* 서명란 */
.canvas {
  position: absolute;
  border: 3px solid black;
  left: 10px;
  bottom: 90px;
}

/* 버튼 */
.saveBtn {
  position: absolute;
  left: 10px;
  bottom: 30px;

  width: 100px;
  height: 40px;
  cursor: pointer;
}
